body {
    position: relative;
    margin: 0px;
    background-color: #ffffff;
    color: #2c3e50;
    font-family: 'Source Sans Pro';
}

#mainDiv {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
/*---------------------------------------------------------------section1-------------------------------------------------------------------------*/
#section1BG {
    position: relative;
    background-image: url(../images/sliderMap.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top center;
    width: 125%;
    margin-left: -12.5%;
    float: left;
}

#topBorder {
    height: 6px;
    width: 100%;
    background-color: #f1c40f;
}

#logoHolder {
    position: relative;
    margin-right: -93px;
    padding: 0px;
    margin-top: -46px;
    margin-left: -100px;
    left: 50%;
    float: left;
}

#title {
    position: absolute;
    color: #2c3e50;
    font-weight: normal;
    left: 50%;
    margin-top: 10px;
    margin-left: -40px;
}

#section1 {
    position: relative;
    display: block;
    max-width: 1020px;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
}

#topBar {
    position: relative;
    width:99.5%;
    float:left;
}

#phoneIcon {
    margin-top: 20px;
    float: left;
}

#phoneNumber {
    margin:0px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.selectLanguage {
    overflow: hidden;
    float: right;
    margin-top: 19px;
}

    .selectLanguage select {
        width: 62px;
        margin:0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding:0px;
        border: none;
        background: transparent url("../images/arrow.png") no-repeat 55px center;
        font-family: 'Source Sans Pro';
        font-size: 12pt;
    }

        .selectLanguage select:focus {
            outline: 0;
        }

a {
    text-decoration: none;
    color: #2c3e50;
}

#loginLink {
    margin-right: 1%;
}

#loginLinks {
    margin:0px;
    margin-top: 20px;
    margin-left: 2%;
    float: right;
    width: 105px;
}

#facebookLink {
    margin-left: 2%;
}

.socialLink {
    vertical-align: middle;
    margin: 2px;
    margin-top: 18px;
    float: right;
}

    .socialLink img {
        border: none;
    }

#searchAndBase {
    width: 100%;
    float: right;
    margin: 0px;
}

#searchBar {
    background-color: #f1c40f;
    width: 300px;
    height: 434px;
    margin: 0px;
    margin-top: 9%;
    padding: 0px;
    text-align: center;
    box-shadow: 0px 0px 12px #808080;
    float: left;
}

    #searchBar h2 {
        font-weight: lighter;
        padding: 0px 10px;
    }

#checkTopBorder {
    height: 10px;
    width: 100%;
    background-image: url(../images/checkPattern.png);
}

#datePicker {
    width: 45%;
    float: left;
    margin-left: 22px;
    background: white url("../images/callendarIcon.png") no-repeat 94% center;
}

    #datePicker::-webkit-inner-spin-button {
        display: none;
    }

    #datePicker::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        height: 18px;
    }

#timePicker {
    width: 26%;
    float: left;
    margin-left: 10px;
    margin-bottom: 40px;
    background: white url("../images/dropArrow.png") no-repeat 90% center;
}

#bookButton {
    background-color: #2c3e50;
    color: #f1c40f;
    border-width: 0px;
    border-radius: 3px;
    padding: 15px 42px;
    font-family: 'Source Sans Pro';
    font-size: 15pt;
}

    #bookButton:hover {
        box-shadow: 0px 0px 12px #808080;
    }

    #bookButton:active {
        box-shadow: none;
    }

datalist option {
    font-family: 'Source Sans Pro';
    font-size: 12pt;
}

.inputField {
    width: 80%;
    border-radius: 5px;
    border-style: solid;
    border-color: #b08d00;
    border-width: 1px;
    margin-bottom: 10px;
    color: #586470;
    font-family: 'Source Sans Pro';
    font-size: 12pt;
    padding: 7px;
}

.inputMap {
    width: 240px;
    border-radius: 5px;
    border-style: solid;
    border-color: #b08d00;
    border-width: 1px;
    margin-bottom: 9px;
    color: #586470;
    font-family: 'Source Sans Pro';
    font-size: 12pt;
    padding: 7px;
    background: white url("../images/mapPointer.png") no-repeat 95% center;
}

.inputDiv {
    position: relative;
    width: 255px;
    height: 40px;
    margin: 5px 0px 5px 22px;
}

.inputSelect {
    border-radius: 5px;
    border-style: solid;
    border-color: #b08d00;
    border-width: 1px;
    width: 100%;
    padding: 6px;
    margin-bottom: 5px;
    top: 0px;
    left: 0px;
    color: #586470;
    font-family: 'Source Sans Pro';
    font-size: 12pt;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: white url("../images/dropArrow.png") no-repeat 95% center;
}

    .inputSelect::-ms-expand {
        display: none;
    }

.inputText {
    position: absolute;
    top: 20%;
    left: 10px;
    width: 80%;
    border: none;
    color: #586470;
    font-family: 'Source Sans Pro';
    font-size: 12pt;
}

    .inputText:focus {
        outline: 0;
    }

.inputImage {
    position: absolute;
    top: 50%;
    left: 92%;
}

#base {
    background-color: #fdfdfb;
    opacity: 0.9;
    width: 45%;
    min-width: 320px;
    height: 50%;
    margin: 0px;
    margin-top: 13%;
    text-align: left;
    box-shadow: 0px 0px 12px #808080;
    float: right;
}

#mainHeader {
    /*font-size: 42pt;*/
    font-size: 36pt;
    margin-left: 5%;
    margin-bottom: 0px;
    color: #333333;
}

#mainList {
    list-style-image: url(../images/bullet.png);
    margin-left: 1%;
    font-size: 13pt;
    font-weight: lighter;
}

    #mainList li {
        margin-bottom: 10px;
    }
/*---------------------------------------------------------------section2-------------------------------------------------------------------------*/
#section2 {
    position: relative;
    display: block;
    width: 125%;
    margin-left: -12.5%;
    float: left;
    margin-top: 10%;
    margin-bottom: 10%;
}

    #section2 div {
        position: relative;
        display: block;
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;
    }

        #section2 div a img {
            border: none;
        }

        #section2 div table {
            width: 50%;
            min-width: 320px;
            float: left;
        }

.cellWithBottomSpace {
    margin: 0px;
    padding: 0px;
    min-width: 320px;
    padding-bottom: 10%;
}

.leftSideIconAbout {
    width: 15%;
    min-width: 15%;
    padding: 0px;
    float: left;
}

    .leftSideIconAbout a {
    }

        .leftSideIconAbout a img {
            width: 80%;
            height: 80%;
            background-image: url(../images/aboutIcon.png);
            background-size: contain;
        }

            .leftSideIconAbout a img:hover {
                width: 80%;
                height: 80%;
                background-image: url(../images/aboutIconHover.png);
                background-size: contain;
            }

            .leftSideIconAbout a img:active {
                width: 80%;
                height: 80%;
                background-image: url(../images/aboutIcon.png);
            }

.rightSideIconAbout {
    float: right;
    width: 85%;
}

.aboutHeader {
    font-size: 24pt;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    color: #1d1d1d;
    top: 0px;
}

.aboutSubHeader {
    color: #f2c831;
    margin: 0px;
    font-size: 16pt;
    font-weight: normal;
}
/*---------------------------------------------------------------section3-------------------------------------------------------------------------*/
#section3BG {
    position: relative;
    background-image: url(../images/destinationBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 125%;
    min-width: 320px;
    margin-left: -12.5%;
    float: left;
}

#section3 {
    display: block;
    min-width: 320px;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    margin-bottom: 100px;
}

#sec3Header {
    position: relative;
    top: 80px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 28pt;
}

#sec3SubHeader {
    position: relative;
    margin: 0px;
    top: 80px;
    padding: 0px;
    font-weight: normal;
    font-size: 20pt;
}

.slider {
    min-width: 320px;
    max-width: 1020px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.sliderinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .sliderinner > ul {
        list-style: none;
        height: 100%;
        width: 500%;
        overflow: hidden;
        position: relative;
        margin: 0px;
        padding: 0px;
        left: 0px;
        -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        -webkit-padding-start: 0px;
        -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    }

        .sliderinner > ul > li {
            float: left;
            position: relative;
            width: 20%;
        }

            .sliderinner > ul > li > div {
                min-width: 260px;
                max-width: 1020px;
                margin-left: 5%;
            }

.slider input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    visibility: hidden;
}

.slider label {
    position: absolute;
    z-index: 100;
    width: 18px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    visibility: hidden;
}


#leftControl {
    /*margin-left: -568px;*/
    left: 0px;
    top: 50%;
    background-image: url(../images/leftArrow.png);
    visibility: visible;
}

#rightControl {
    /*margin-left: 550px;*/
    left: 100%;
    margin-left: -20px;
    top: 50%;
    background-image: url(../images/rightArrow.png);
    visibility: visible;
}

.slider input[type=radio]#control1:checked ~ .sliderinner > ul {
    left: 0%;
}

.slider input[type=radio]#control2:checked ~ .sliderinner > ul {
    left: -100%;
}

.slider input[type=radio]#control3:checked ~ .sliderinner > ul {
    left: -200%;
}

.slider input[type=radio]#control4:checked ~ .sliderinner > ul {
    left: -300%;
}

.description {
    position: relative;
    float: left;
    width: 28%;
    min-width: 255px;
    z-index: 1000;
    margin: 10px;
    border: 5px solid #2c3e50;
}

    .description > img {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .description:hover {
    }

        .description:hover > .overlay {
            opacity: .5;
            background-color: #2c3e50;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 3;
        }

        .description:hover > .descriptionText {
            text-align: center;
        }

            .description:hover > .descriptionText > h5 {
                position: relative;
                z-index: 5;
                padding: 0px;
                top: -200px;
            }

            .description:hover > .descriptionText > p {
                position: relative;
                z-index: 5;
                padding: 0px;
                top: -190px;
            }

            .description:hover > .descriptionText > a {
                position: relative;
                z-index: 5;
                top: -130px;
                left: -31%;
            }

.descriptionText {
    background-color: #2c3e50;
    margin-top: -5px;
    padding: 10px;
    top: 0;
    height: 60px;
    z-index: 4;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #fff;
    text-align: left;
}

    .descriptionText h5 {
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
        font-size: 18pt;
        font-weight: lighter;
    }

    .descriptionText p {
        margin: 0px;
        padding: 0px;
        font-size: 10pt;
        font-weight: lighter;
        font-style: italic;
    }

    .descriptionText a {
        margin: 0px;
        margin-top: -40px;
        padding: 7px 14px;
        float: right;
        font-family: 'Source Sans Pro';
        font-size: 12pt;
        color: #2c3e50;
        background-color: #f1c40f;
        border-width: 0px;
        border-radius: 3px;
    }

        .descriptionText a:focus {
            outline: 0px;
        }

        .descriptionText a:active {
            color: #f1c40f;
            background-color: transparent;
        }
/*---------------------------------------------------------------section4-------------------------------------------------------------------------*/
#section4 {
    position: relative;
    display: block;
    width: 125%;
    margin-left: -12.5%;
    float: left;
    margin-top: 10%;
    margin-bottom: 10%;
}

    #section4 div {
        position: relative;
        display: block;
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;
    }

    #section4 table {
        float: left;
    }

#DoubleColumn {
    width: 40%;
    min-width: 320px;
}

#SingleColumn {
    width: 20%;
    min-width: 160px;
    margin-bottom: 100px;
}

.sec4cell {
    width: 5%;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Source Sans Pro';
}

    .sec4cell p {
        font-size: 18pt;
        margin-bottom: 10px;
    }

    .sec4cell a {
        font-family: 'Source Sans Pro';
        font-size: 14pt;
        color: #f1c40f;
        padding: 6px 20px;
        background-color: #2c3e50;
        border-width: 0px;
        border-radius: 3px;
        visibility: hidden;
    }

        .sec4cell a:focus {
            outline: none;
        }

        .sec4cell a:active {
            color: #2c3e50;
            background-color: #f1c40f;
        }

    .sec4cell:hover {
        background-color: #f1c40f;
    }

        .sec4cell:hover a {
            visibility: visible;
        }
/*---------------------------------------------------------------footer-------------------------------------------------------------------------*/
#footerBG {
    position: relative;
    background-image: url(../images/footerBg.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: top left;
    width: 125%;
    min-width: 320px;
    margin-left: -12.5%;
    float: left;
}

#footer {
    min-width: 320px;
    max-width: 1020px;
    display: block;
    margin: 0px auto;
    text-align: center;
}

    #footer h6 {
        color: #f1c40f;
        font-size: 12pt;
        font-weight: lighter;
        margin: 0px;
        padding: 0px;
    }

#footerLinks {
    float: left;
    width: 100%;
}

#aboutUs, #Melbourne, #Sydney, #Queensland {
    margin: 5% 5px;
    float: left;
    text-align: left;
}

#footer a {
    color: #9ba6b0;
    font-weight: lighter;
    font-size: 10pt;
}

#aboutUs {
    float: left;
}

    #aboutUs div {
        float: left;
        margin-right: 30px;
    }

#Queensland {
    margin: 0px;
    padding: 0px;
    margin-top: 35px;
}


#map {
    float: right;
    background-image: url(../images/map.png);
    background-size: cover;
    width: 320px;
    height: 154px;
    margin-top: 40px;
}

    #map p {
        position: absolute;
        font-size: 10pt;
        margin-top: -22px;
    }

    #map div {
        position: absolute;
    }

#florida {
    margin: 44px 52px;
}

    #florida p {
        margin-left: 18px;
    }

#egypt {
    margin: 61px 156px;
}

    #egypt p {
        margin-left: 8px;
    }

#sydney {
    margin: 126px 223px;
}

    #sydney p {
        margin-left: 8px;
    }


#footerSocial {
}

    #footerSocial a {
        margin-left: 5px;
    }

        #footerSocial a img {
            border: none;
        }

#copyRight {
    margin-top: -2px;
    color: #9ba6b0;
}

#footerBorder {
    position: absolute;
    height: 3px;
    left: 0px;
    margin-top: -2px;
    width: 100%;
    background-color: #f1c40f;
}
